.ServiceCard {
  width: 100%;
  background-color: #9f919185;
  text-align: start;
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  &:hover {
    cursor: pointer;
    background-color: #91680ecf;
  }
}
