.Events {
  display: block;
  margin-bottom: 10px;
  .form-bg {
    margin: 0 auto;
    height: 300px;
    position: relative;
    background-image: url("../../../../assets/events/event-bg.jpg");
    background-position: center center;
    background-size: cover;
    width: 436px;
    .wrapper {
      background-color: #504646ca;
      width: 100%;
      height: 100%;
      .form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        .inputs {
          display: grid;
          grid-template-columns: auto auto;
          grid-gap: 10px;

          .input {
            margin: 5px;
            font-size: 18px;
            input {
              width: 100%;
              height: 30px;
              border-radius: 10px;
              border: none;
              &:focus {
                outline: none;
              }
            }
          }
        }
        label input {
          height: 0;
          width: 0;
          opacity: 0;
        }
        label {
          display: block;
          width: 30px;
          height: 30px;
          border: 1px solid #efb6b2;
          border-radius: 50%;
          margin: 10px auto;
          line-height: 25px;
          color: #efb6b2;
          font-weight: bold;
          font-size: 24px;
          cursor: pointer;
        }
        label:hover {
          background: #efb6b2;
          color: white;
        }
        .output {
          // height: 60px;
          font-size: 0.8rem;
          color: #ddd;
        }
        button {
          width: 70%;
          height: 40px;
          margin: 5px auto;
          border: none;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }
  }
  .events-body {
    margin: 50px auto;
    width: 80%;
    text-align: center;
    table {
      border-collapse: collapse;
      width: 100%;
      .table-heading {
        background-color: #72632f;
        td {
          font-size: 20px;
          border: 1px solid #ddd;
          padding: 8px;
        }
      }
    }
  }
}
